<textarea>Type something here...</textarea>
<script>

var textarea = document.querySelector("textarea");
var timeout;
parent.appendChild(textarea);
textarea.addEventListener("keydown", function() {
clearTimeout(timeout);
console.log("u are typing");
timeout = setTimeout(function() {
console.log("You stopped typing.");
}, 500);
});
</script>

<canvas id="canvas"  width="300" height="300"></canvas>
