<p style="text-align: center; padding-top: 300px;">
<img src="img/cat.png" style="position: relative">
<img src="img/hat.png" style="position: relative">
</p>
<script>
var cat = document.querySelectorAll("img");
var angle = 0, lastTime = null;
function animate(time) {

  for (var i = cat.length -1; i >= 0; i--) {
    if (lastTime != null)
      angle += (time - lastTime) * 0.001;
    lastTime = time;

    if(i == 1){
      cat[i].style.top = (Math.sin(angle) * 50) + "px";
      cat[i].style.left = (Math.cos(angle) * 50) + "px";
    }else {
      cat[i].style.top = (Math.sin(Math.PI+angle) * 50) + "px";
      cat[i].style.left = (Math.cos(Math.PI+angle) * 50) + "px";
    }

  }
requestAnimationFrame(animate);

}
requestAnimationFrame(animate);
</script>
