<p><span id="one"></span></p>
<p><span id="two"></span></p>
<input type="text" id="col" >
<button type="button" name="button">go</button>
<script>
addEventListener('load',function(){
  document.getElementById('col').addEventListener('focus',function(){
    document.getElementById('col').focus();
    console.log("double focus")
  })
})
document.querySelector('button').addEventListener('click',
function () {
  console.log(document.getElementById('col').value);

})
function time(name, action) {
var start = Date.now(); // Current time in milliseconds
action();
console.log(name, "took", Date.now() - start, "ms");
}
time("naive", function() {
var target = document.getElementById("one");
while (target.offsetWidth < 50)
target.appendChild(document.createTextNode("."));
});
time("clever", function() {
var target = document.getElementById("two");
target.appendChild(document.createTextNode("X"));
var total = Math.ceil(100 / (target.offsetWidth / 5));
for (var i = 5; i < total; i++)
target.appendChild(document.createTextNode("X"));
});
</script>
